body {
  font-family: "Arial", sans-serif;
  background-color: #1f1f1f;
  color: #fff;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 42px;
  color: gray;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #292929;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
li:hover {
  transform: scale(1.05);
}
a {
  display: block;
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
a:hover {
  background-color: gray;
  color: #fff;
}
section {
  background-color: #292929;
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para el encabezado */
h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
}

/* Estilos para las etiquetas */
label {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos para los campos de entrada */
input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilos para el botón */
button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para el resultado */
p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  margin-top: 50px;
}
